<h1>Editing question</h1>

<%= form_for(@question) do |f| %>

	<%= render 'shared/error_questions' %>
	<%= render 'form', f: f %>
	
	<%= f.submit "Update Question", class: "btn btn-lg btn-primary" %>
	
<% end %>

<hr />

<%= link_to 'Back', @question %>
