<style>
#ip_voice, #ip_video_surveillance, #ip_video_telephony, #consumer_atas, #enterprise_gateways, #ip_pbx
    {
        display:none;
    }
</style>

<h1>New Multiple Choice Question</h1>

<%= form_for @question, url: new_mc_question_path(@question) do |f| %>

	<%= render 'shared/error_questions' %>

  <%#= render 'form', f: f %>
  <%= f.select :question_type, [["Multiple Choice", "MC"]], {class: "form-control input-lg"}, style: "visibility: hidden" %>
  
  <%= f.label :content, "Question" %><br>
	<%= f.text_field :content, class: "input-lg" %>
	
	<%= f.label :category %><br>
	<%= f.select :category, [ ["IP Voice Telephony", "ip_voice"], ["IP Video Surveillance", "ip_video_surveillance"], ["IP Video Telephony", "ip_video_telephony"], ["Enterprise Gateways", "enterprise_gateways"], ["Consumer ATAs", "consumer_atas"], ["IP PBX", "ip_pbx"] ], {prompt: "Select Category"}, class: "input-lg", :id => "category" %>
	
	<div id="ip_voice">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "ip_voice" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "voice", name: "voice"} %>
	</div>
	
	<div id="ip_video_surveillance">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "ip_video_surveillance" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "surv", name: "surv"} %>
	</div>
	
	<div id="ip_video_telephony">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "ip_video_telephony" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "video", name: "video"} %>
	</div>
	
	<div id="consumer_atas">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "consumer_atas" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "atas", name: "atas"} %>
	</div>
	
	<div id="enterprise_gateways">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "enterprise_gateways" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "gate", name: "gate"} %>
	</div>
	
	<div id="ip_pbx">
	<%= f.label :product_id %><br>
	<%= f.collection_select :product_id, Product.where({ category: "ip_pbx" }), :id, :name, {prompt: "Select a product"}, {class: "form-control input-lg", id: "pbx", name: "pbx"} %>
	</div>
	
	<input id="targetField" type="hidden" name="question[product_id]" value=""/>
	
	<%= f.label :section %><br>
	<%= f.collection_select :section, @sections, :id, :name, {prompt: "Select a section"}, {class: "form-control input-lg" } %>
	
	
	<%= f.label :active %><br>
	<%= f.check_box :active %>

	
<h1>Answers</h1>
<%= f.fields_for :answers do |builder| %>
  	
  	<%= render 'four_answers', :f => builder %>

  <% end %>
  <%= f.submit "Create Question", class: "btn btn-lg btn-primary", id: "commit" %>
<% end %>
<br/>
<%= link_to 'Back', questions_path %>

<script>
	$(document).ready(function(){
		$("#question_active").bootstrapSwitch('onText', 'Active');
		$("#question_active").bootstrapSwitch('offText', 'Off');
		$("#question_active").bootstrapSwitch('size', 'large');
	});
</script>
<script>
$(document).ready(function(e) {
        $('#category').change(function() {
            if ($('#category').val()== 'ip_voice')
            {
                $('#ip_video_surveillance').hide();
                $('#ip_video_telephony').hide();
                $('#consumer_atas').hide();
                $('#enterprise_gateways').hide();
                $('#ip_pbx').hide();
                $('#ip_voice').show();
            }
            else if ($('#category').val()== 'ip_video_surveillance')
            {
                $('#ip_voice').hide();
                $('#ip_video_telephony').hide();
                $('#consumer_atas').hide();
                $('#enterprise_gateways').hide();
                $('#ip_pbx').hide();
                $('#ip_video_surveillance').show();
            }
            else if ($('#category').val()== 'ip_video_telephony')
            {
                $('#ip_voice').hide();
                $('#ip_video_surveillance').hide();
                $('#consumer_atas').hide();
                $('#enterprise_gateways').hide();
                $('#ip_pbx').hide();
                $('#ip_video_telephony').show();
            }
            else if ($('#category').val()== 'consumer_atas')
            {
                $('#ip_voice').hide();
                $('#ip_video_surveillance').hide();
                $('#ip_video_telephony').hide();
                $('#enterprise_gateways').hide();
                $('#ip_pbx').hide();
                $('#consumer_atas').show();
            }
            else if ($('#category').val()== 'enterprise_gateways')
            {
                $('#ip_voice').hide();
                $('#ip_video_surveillance').hide();
                $('#ip_video_telephony').hide();
                $('#consumer_atas').hide();
                $('#ip_pbx').hide();
                $('#enterprise_gateways').show();
            }
            else if ($('#category').val()== 'ip_pbx')
            {
                $('#ip_voice').hide();
                $('#ip_video_surveillance').hide();
                $('#ip_video_telephony').hide();
                $('#consumer_atas').hide();
                $('#enterprise_gateways').hide();
                $('#ip_pbx').show();
            }
            

        });
});
</script>
<script>
$(function(){
    $("#commit").on("click", function(){
        
        var valueAssigned = false;
        $('select').each(function(){
            if($(this).val())
            {
                $("[name='question[product_id]']").val($(this).val());
                valueAssigned = true;
                return;
            }
        });

        
    });
});
</script>
<!-- Tell what is value
if(!valueAssigned)
        {
            alert('nothing selected');
        }
        else
        {
            alert("Value of the hidden field: " + $("#targetField").val());
        }
-->