<style>
	.overview{
    padding: 20px 0;
	text-align: center;
}
.overview > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.overview > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
</style>

<div class="container">
	<div class="row overview">
		<div class="col-md-4">
    		<div>
				<%= image_tag("number1.png", alt: "Grandstream Certification", height: "210", width: "210", class: "img-circle img-thumbnail") %>
				<h2>New? Start Here</h2>
				<p>To make a test there are a few steps.
				   First check if the product or series exists, if not create it.</p>
					<%= link_to products_path do %>
						<button type="button" class="btn btn-lg btn-success">Products</button>
					<% end %>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<%= image_tag("number2.jpg", alt: "Grandstream Certification", height: "210", width: "210", class: "img-circle img-thumbnail") %>
				<h2>Once done with products move on to Sections</h2>
				<p>Sections are vital to organizing your tests. Check if your exam section(s) exist, if not create them.</p>
					<%= link_to sections_path do %>
						<button type="button" class="btn btn-lg btn-success">Sections</button>
					<% end %>
			</div>
		</div>

		<div class="col-md-4">
			<div>
				<%= image_tag("number3.jpg", alt: "Grandstream Certification", height: "210", width: "210", class: "img-circle img-thumbnail") %>
				<h2>Once done with sections move on to Questions</h2>
				<p>First check if your exam question(s) exist, if not create them.</p>
					<%= link_to questions_path do %>
						<button type="button" class="btn btn-lg btn-success">Questions</button>
					<% end %>
			</div>
		</div>
	</div>
	<div class="row overview">
		<div class="col-md-4 col-md-offset-4">
    		<div>
				<%= image_tag("number4.png", alt: "Grandstream Certification", height: "210", width: "210", class: "img-circle img-thumbnail") %>
				<h2>Once done with questions move on to Tests</h2>
				<p>This is where all your effort pays off.</p>
					<%= link_to tests_path do %>
						<button type="button" class="btn btn-lg btn-success">Tests</button>
					<% end %>
			</div>
		</div>
	</div>
</div>