<% provide(:title, "Reset Password") %>


<div class="row" style="margin-top: 60px">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Reset Password</h3>
			</div>
			<div class="panel-body">
			
			<%= form_for(:session, :url => { :action => "reset_password" }) do |f| %>
				
				<%= f.label :email %>
				<%= f.text_field :email %>
				
				<%= f.label "Confirmation Code" %>
				<%= f.text_field :confirmation_code %>
				
				<%= f.label "New Password" %>
				<%= f.password_field :password %>
				
				<%= f.label "Confirm Password" %>
				<%= f.password_field :password_confirmation %>
				<br />
				<br />
				
				<%= f.submit "Reset Password", class: "btn btn-large btn-primary" %>
				
			<% end %>
			</div>
		</div>
	</div>
</div>