<style>
	td {text-align: center;}
</style>
<h1>Test Scores</h1>

<table width="100%" class="tablesorter">
  <thead>
  	  <tr>
  	  <th width="20%" data-placeholder="Search">Name</th>
      <th width="10%" data-placeholder="Search">Test</th>
	  <th width="15%" data-placeholder="Search">Score</th>
	  <th width="35%" data-placeholder="Search">Email</th>
	  <th width="10%" data-placeholder="Search">Date Taken</th>
      </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
    <% @user = User.find(score.user_id) %>
      <tr>
        <td><%= @user.name %></td>
        <td><%= Test.find(score.test_id).name %></td>
        <% if score.scores.to_s == '100.0'%>
        <td><%= number_to_percentage(score.scores) %></td>
        <% else %>
        <td><%= number_to_percentage(score.scores * 100) %></td>
        <% end %>
        <td><%= @user.email %></td>
        <td><%= score.created_at.strftime("%b %d, %y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
	$(function()
	  {
	  	$.extend($.tablesorter.themes.jui, {
		    // change default jQuery uitheme icons - find the full list of icons here: http://jqueryui.com/themeroller/ (hover over them for their name)
		    table      : 'ui-widget ui-widget-content ui-corner-all', // table classes
		    caption    : 'ui-widget-content ui-corner-all',
		    header     : 'ui-widget-header ui-corner-all ui-state-default', // header classes
		    footerRow  : '',
		    footerCells: '',
		    icons      : 'ui-icon', // icon class added to the <i> in the header
		    sortNone   : 'ui-icon-carat-2-n-s',
		    sortAsc    : 'ui-icon-carat-1-n',
		    sortDesc   : 'ui-icon-carat-1-s',
		    active     : 'ui-state-active', // applied when column is sorted
		    hover      : 'ui-state-hover',  // hover class
		    filterRow  : '',
		    even       : 'ui-widget-content', // odd row zebra striping
		    odd        : 'ui-state-default'   // even row zebra striping
		  });
	  		  	
	  	$("table").tablesorter({
	  		theme: 'jui',
	  		headerTemplate : '{content} {icon}', // needed to add icon for jui theme
	  		widgets: ['uitheme', 'zebra', 'filter'],
	  		
	  		widgetOptions: {
	  			zebra   : ["even", "odd"],
	        	filter_columnFilters : true,
	        	filter_ignoreCase : true,
	        	filter_liveSearch : true,
	        	filter_searchDelay : 300,
	        	filter_reset : 'button.reset',
	       }
	  	});
	  	$("#scores").removeClass('tablesorter tablesorter-jui');
	  }
);
</script>
