<style>
	td {text-align: center;}
	.input-group {
		width: 95%;
	}
	.selectpicker {
		width: auto !important;
	}
</style>
<h1>Test Scores</h1>

<div class="awesome" style="width: 1400px; margin-left: auto; margin-right: auto; padding-left: 5px; padding-top: 15px;">
	<!-- Page: <select class="gotoPage"></select> -->
	<img src="../assets/jquery-tablesorter/addons/pager/icons/first.png" class="first" alt="First" title="First page" />
	<img src="../assets/jquery-tablesorter/addons/pager/icons/prev.png" class="prev" alt="Prev" title="Previous page" />
	<span class="pagedisplay"></span> <!-- this can be any element, including an input -->
	<img src="../assets/jquery-tablesorter/addons/pager/icons/next.png" class="next" alt="Next" title="Next page" />
	<img src="../assets/jquery-tablesorter/addons/pager/icons/last.png" class="last" alt="Last" title= "Last page" />
	<span style="margin-left: 25px;">Questions per page: </span>
	<select class="selectpicker pagesize">
		<option value="10">10</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="40">40</option>
	</select>
</div>

<table width="100%" class="tablesorter">
  <thead>
  	  <tr>
  	  <th width="20%" data-placeholder="Search">Name</th>
      <th width="10%" data-placeholder="Search">Test</th>
      <th width="9%" class="filter-select filter-match" data-placeholder="Search">Region</th>
      <th width="9%" class="filter-select filter-match" data-placeholder="Search">Passed</th>
	  <th width="11%" data-placeholder="Search">Score</th>
	  <th width="31%" data-placeholder="Search">Email</th>
	  <th width="10%" data-placeholder="Search">Date Taken</th>
      </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
    <% @user = User.find(score.user_id) %>
    <% @test = Test.find(score.test_id) %>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @test.name %></td>
        <td><%= @test.region.upcase unless @test.region.nil? %></td>
        <td><%= score.passed %></td>
        <% if score.scores.to_s == '100.0'%>
        <td><%= link_to number_to_percentage(score.scores), score %></td>
        <% else %>
        <td><%= link_to number_to_percentage(score.scores * 100), score %></td>
        <% end %>
        <td><%= @user.email %></td>
        <td><%= score.created_at.strftime("%b %d, %y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
	$(function()
	  {
	  	// For Pages!
		var pagerOptions = {
		    // target the pager markup - see the HTML block below
		    container: $(".awesome"),
		    // output string - default is '{page}/{totalPages}'; possible variables: {page}, {totalPages}, {startRow}, {endRow} and {totalRows}
		    output: '{startRow} - {endRow} / {filteredRows} ({totalRows})',
		    // if true, the table will remain the same height no matter how many records are displayed. The space is made up by an empty
		    // table row set to a height to compensate; default is false
		    fixedHeight: false,
		    // remove rows from the table to speed up the sort of large tables.
		    // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
		    removeRows: false,
		    // go to page selector - select dropdown that sets the current page
		    cssGoto: '.pagenum'
		};
	  	$.extend($.tablesorter.themes.jui, {
		    // change default jQuery uitheme icons - find the full list of icons here: http://jqueryui.com/themeroller/ (hover over them for their name)
		    table      : 'ui-widget ui-widget-content ui-corner-all', // table classes
		    caption    : 'ui-widget-content ui-corner-all',
		    header     : 'ui-widget-header ui-corner-all ui-state-default', // header classes
		    footerRow  : '',
		    footerCells: '',
		    icons      : 'ui-icon', // icon class added to the <i> in the header
		    sortNone   : 'ui-icon-carat-2-n-s',
		    sortAsc    : 'ui-icon-carat-1-n',
		    sortDesc   : 'ui-icon-carat-1-s',
		    active     : 'ui-state-active', // applied when column is sorted
		    hover      : 'ui-state-hover',  // hover class
		    filterRow  : '',
		    even       : 'ui-widget-content', // odd row zebra striping
		    odd        : 'ui-state-default'   // even row zebra striping
		  });
	  		  	
	  	$("table").tablesorter({
	  		theme: 'jui',
	  		headerTemplate : '{content} {icon}', // needed to add icon for jui theme
	  		widgets: ['uitheme', 'zebra', 'filter'],
	  		
	  		widgetOptions: {
	  			zebra   : ["even", "odd"],
	        	filter_columnFilters : true,
	        	filter_ignoreCase : true,
	        	filter_liveSearch : true,
	        	filter_searchDelay : 300,
	        	filter_reset : 'button.reset',
	       }
	  	})
	  	// initialize Pager plugin
	  	.tablesorterPager(pagerOptions)
	  	.trigger('enable.pager');
	  	$("#scores").removeClass('tablesorter tablesorter-jui');
	  }
);
</script>
