<style>
	td {text-align: center;}
</style>

<h1>Test Results</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Test</h3>
  </div>
  <div class="panel-body">
    <%= Test.find(@score.test_id).name %>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Tester's Name</h3>
  </div>
  <div class="panel-body">
    <%= User.find(@score.user_id).name %>
  </div>
</div>
<% if @score.passed == true %>
<div class="panel panel-success">
<% else %>
<div class="panel panel-warning">
<% end %>
  <div class="panel-heading">
    <h3 class="panel-title">Score</h3>
  </div>
  <div class="panel-body">
  	<% if @score.scores.to_s == '100.0'%>
    	<%= number_to_percentage(@score.scores) %>
    <% else %>
    	<%= number_to_percentage(@score.scores * 100) %>
    <% end %>
  </div>
</div>
<% if current_user.permission != ["Read Only"] %>
<table width="100%" class="tablesorter">
  <thead>
  	  <tr>
  	  <th width="40%" data-placeholder="Search">Question</th>
  	  <th width="25%" data-placeholder="Search">Tester's Answer</th>
      <th width="15%" data-placeholder="Search">Correct</th>
      <th width="20%" data-placeholder="Search">Correct Answer</th>
      </tr>
  </thead>

  <tbody>
    <% @each_answer.each do |a| %>
    <% @question = Question.find(a.question_id) %>
    <% @correct = @question.answers.where(correct: true) %>
      <tr>
        <td style="text-align: left;"><%= @question.content %></td>
        <td style="text-align: left;"><%= a.option %></td>
        <td><%= a.correct.to_s.capitalize %></td>
        <td style="text-align: left;"><% @correct.each do |c| %>
        <%= c.option %> 
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
	$(function()
	  {
	  	$.extend($.tablesorter.themes.jui, {
		    // change default jQuery uitheme icons - find the full list of icons here: http://jqueryui.com/themeroller/ (hover over them for their name)
		    table      : 'ui-widget ui-widget-content ui-corner-all', // table classes
		    caption    : 'ui-widget-content ui-corner-all',
		    header     : 'ui-widget-header ui-corner-all ui-state-default', // header classes
		    footerRow  : '',
		    footerCells: '',
		    icons      : 'ui-icon', // icon class added to the <i> in the header
		    sortNone   : 'ui-icon-carat-2-n-s',
		    sortAsc    : 'ui-icon-carat-1-n',
		    sortDesc   : 'ui-icon-carat-1-s',
		    active     : 'ui-state-active', // applied when column is sorted
		    hover      : 'ui-state-hover',  // hover class
		    filterRow  : '',
		    even       : 'ui-widget-content', // odd row zebra striping
		    odd        : 'ui-state-default'   // even row zebra striping
		  });
	  		  	
	  	$("table").tablesorter({
	  		theme: 'jui',
	  		headerTemplate : '{content} {icon}', // needed to add icon for jui theme
	  		widgets: ['uitheme', 'zebra', 'filter'],
	  		
	  		widgetOptions: {
	  			zebra   : ["even", "odd"],
	        	filter_columnFilters : true,
	        	filter_ignoreCase : true,
	        	filter_liveSearch : true,
	        	filter_searchDelay : 300,
	        	filter_reset : 'button.reset',
	       }
	  	});
	  	$("#tests").removeClass('tablesorter tablesorter-jui');
	  }
);
</script>
<% end %>