<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>	
			<%= render 'shared/error_messages' %>
		
		    <%= f.label :name %><br>
		    <%= f.text_field :name, class: "input-lg" %>

		    <%= f.label :email %><br>
		    <%= f.text_field :email, class: "input-lg" %>
		    
		    <%= f.label :password %>
		    <%= f.password_field :password, class: "input-lg" %>
		    
		    <%= f.label :password_confirmation, "Confirmation" %>
		    <%= f.password_field :password_confirmation, class: "input-lg" %>
		  
		    <%= f.submit "Create User", class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>
</div>