<%= form_for(@answer) do |f| %>

	<%= render 'shared/error_answers' %>

  <%= f.label :content %><br>
  <%= f.text_field :content, class: "input-lg" %>

  <%= f.label :correct, "Correct Answer?" %><br>
  <%= f.check_box :correct %>

  <%= f.number_field :question_id, class: "input-lg", value: @question.id, style: "visibility: hidden" %>

  <%= f.submit "Update Answer", class: "btn btn-lg btn-primary" %>
    
<% end %>

<h1>World</h1>

<script>
	$(document).ready(function(){
		$("#answer_correct").bootstrapSwitch('onText', 'Yes');
		$("#answer_correct").bootstrapSwitch('offText', 'No');
		$("#answer_correct").bootstrapSwitch('size', 'large');
	});
</script>