<p style="margin-top: 50px;">
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@test.user_id).name %>
</p>
<p>
	<strong>Question:</strong>
	<%= @test.question_ids %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %> |
<%= link_to 'Print', prints_path(@test) %> |
<%#= link_to 'Download', url_for(params), :format => :pdf %>
<%= link_to 'Download', :action => 'show', :format => :pdf %>