<p style="margin-top: 50px;">
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @test.type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@test.user_id).name %>
</p>
<% if @test.region.nil? == false %>
<p style="display: inline-block;">
  <strong>Region:</strong>
  <%= @test.region.upcase %>
</p>
<% end %>
<p style="display: inline-block; margin-left: 25px;">
  <strong>Passing %:</strong>
  <%= @test.minimum %>
</p>
<p style="display: inline-block; margin-left: 25px;">
  <strong>Time Allotment:</strong>
  <%= @test.hour %> hour(s) <%= @test.minute %> minute(s)
</p>
<p>
	<strong>Question:</strong>
	<%= @test.question_ids %>
</p>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon-download-alt"></span> <%= link_to 'Download', :action => 'show', :format => :pdf %>
	</button>
<%= link_to prints_path(@test) do %>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon-list-alt"></span> List
	</button>
<% end %>
<%= link_to edit_test_path(@test) do %>
	<button type="button" class="btn btn-lg btn-default">
		<span class="glyphicon glyphicon-edit"></span> Edit
	</button>
<% end %>
<p style="margin-top: 25px;">
	<%= link_to tests_path do %>
		<button type="button" class="btn btn-lg btn-default">
			<span class="glyphicon glyphicon-backward"></span> Back
		</button>
	<% end %>
</p>
<%#= link_to 'Download', url_for(params), :format => :pdf %>
