<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to image_tag("your_logo.png", alt: "Exam Certification"), root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav pull-right">
					<% if signed_in? && permitted %>
					<li><%= link_to "Overview", root_path %></li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Prepare Sections <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "1. Products", products_path %></li>
							<li class="divider"></li>
							<li><%= link_to "2. Test Sections", sections_path %></li>
						</ul>
					</li>
					<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Prepare Tests <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "1. Questions", questions_path %></li>
							<li class="divider"></li>
							<li><%= link_to "2. Tests", tests_path %></li>
						</ul>
					</li>
					<li><%= link_to "Scores", scores_path %></li>					
					<% if admin_user? %>
						<li><%= link_to "Users", users_path %></li>
					  <% end %>
					  <li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
							</li>
						</ul>
					  </li>
					<% else %>
					  <% if signed_in? %>
					  <li><%= link_to "Home", scores_path %></li>
						<li id="fat-menu" class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Account <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li>
								<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
							</li>
						</ul>
					  </li>
					  <% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					  <% end %>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
